{{#partial "content"}}

    <h1>Backpacks!</h1>
    <p>Add a new Backpack:</p>

    <form action="/posts/new" method="POST">
        <label for="content">Things you have in your backpack</label>
        <input id="content" name="content" type="text"><br>
        <label for = "boolean">Do you have a map?</label><br>
        <input id= "mapBoolean" type="radio" name="mapBoolean" value="true"> true <br>
        <input id= "mapBoolean" type="radio" name="mapBoolean" value="false"> False <br>
        <label for="wallet">how much money do you have in your wallet?</label>
        <input id="wallet" name="wallet" type="text"><br>

        <button type="submit" class="btn btn-default">Add post</button>
    </form>
    {{#if posts}}
        {{#each posts }}
            <p>Current Backpack:</p>
            <p>{{ map }} <a href="/posts/{{id}}">read more...</a></p>
            <p>{{ things}} <a href="/posts/{{id}}">read more...</a></p>
            <p>{{ wallet }} <a href="/posts/{{id}}">read more...</a></p>
        {{/each}}
    {{else}}
        <p>No posts!</p>
    {{/if}}
{{/partial}}

{{> layout.hbs}}